.header__logo {
    margin: 28px 27px 27px;
    width: 104px;
}

@media screen and (min-width: 450px) {
    .header__logo {
        width: 142px;

    }
}

@media screen and (min-width: 900px) {
    .header__logo {
        margin: 45px 0 37px;
    }
}

/* @media screen and (max-width: 450px) {
    .header__logo {
        order: 1;
    }
} */


