.auth {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 80px;
    /* justify-content: center;
    align-items: center; */
}