.profile__edit {
    border: 1px solid #fff;
    position: relative;
    right: 17px;
    background: transparent;
    width: 18px;
    height: 18px;
    bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    .profile__edit {
        width: 24px;
        height: 24px;
        right: 11px;
        bottom: 8px;
    }
}