.popup__error {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    padding-top: 5px;
    min-height: 3.75em;
}

@media screen and (min-width: 468px) {
    .popup__error {
        min-height: 2.5em;
    }
}