.popup__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 282px;
    color: #000;
    max-width: 430px;
    border-radius: 10px;
    padding: 25px 22px;
    box-sizing: border-box;
    position: relative;
    bottom: 113px;
    margin-right: 16px;
    margin-left: 16px;
}

@media screen and (min-width: 468px) {
    .popup__form {
        width: 430px;
    }
}

@media screen and (min-width: 900px) {
    .popup__form {
        padding: 34px 36px;
        bottom: 35px;
    }
}