.auth__btn {
    background: #FFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 216px;
}